* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.card {
    background-color: rgb(38, 25, 137);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 40px;
}

.botao {
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.botao:hover {
    background-color: rgb(177, 177, 177);
    color: white;
}

.botao-proxima:hover {
    background-color: rgb(35, 69, 220);
    width: 210px;
    height: 75px;
    transition: 0.3s;
}

.card-questao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    font-size: 25px;
}

.respostas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.botoes-controles {
    margin-top: 50px;
}

.hide {
    display: none;
}

.botao-proxima {
    background-color: rgb(35, 69, 220);
    color: white;
}

.botao:disabled {
    cursor: not-allowed;
}

.correto {
    background-color: green;
    color: white;
}

.errado {
    background-color: brown;
    color: white;
}

.correto:hover {
    background-color: green;
}

.errado:hover {
    background-color: brown;
}

.texto-final {
    font-size: 25px;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .card {
        background-color: rgb(38, 25, 137);
        height: 600px;
        width: 300px;
    }

    .titulo {
        font-size: 30px;
    }

    .iniciar {
        height: 70px;
        width: 100px;
        font-size: 25px;
    }
    
    .pergunta-card {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}